apiVersion: crd.projectcalico.org/v1
kind: BGPConfiguration
metadata:
  name: default
spec:
  logSeverityScreen: Info
  nodeToNodeMeshEnabled: false
  serviceClusterIPs:
    - cidr: {{service_cidr}}
  serviceExternalIPs:
    - cidr: {{service_cidr}}
  listenPort: 179