{%- for peer in peer_set %}
apiVersion: crd.projectcalico.org/v1
kind: BGPPeer
metadata:
  name: {{peer.rack}}-{{peer.ip}}
spec:
  peerIP: {{peer.ip}}
  asNumber: {{peer.asn}}
  nodeSelector: rack == '{{peer.rack}}'
  sourceAddress: None
  failureDetectionMode: BFDIfDirectlyConnected
  restartMode: LongLivedGracefulRestart

---
{%- endfor %}
apiVersion: crd.projectcalico.org/v1
kind: BGPConfiguration
metadata:
  name: default
spec:
  nodeToNodeMeshEnabled: false