# This section includes base Calico Enterprise installation configuration.
# For more information, see: https://docs.tigera.io/calico-enterprise/3.15/reference/installation/api#operator.tigera.io/v1.Installation
apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default
spec:
  # Install Calico Enterprise
  variant: TigeraSecureEnterprise
  {%- if image_registry %}
  registry: {{ image_registry }}
  {%- if image_registry_secret %}
  imagePullSecrets:
    - name: tigera-pull-secret
  {%- endif %}
  {%- if image_path %}
  imagePath:  {{ image_path }}
  {%- endif %}
  {%- if image_prefix %}
  imagePrefix:  {{ image_prefix }}
  {%- endif %}
  {%- endif %}
  calicoNetwork:
    nodeAddressAutodetectionV4:
      {{ nic_autodetection }}
      
